<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->


<div class="prana-wrap"><img src="{{ "/assets/prana.png" | prepend:site.baseurl }}" width="200"/></div>
<h3 class="section-header">
  Weekly Prana
</h3>
<p>Get insightful articles from around the web, weekly kriyas, meditation, and more right in your inbox.<br/>
  <a href="http://eepurl.com/bIKkZ5" target="_blank" class="btn btn-primary">Get the Newsletter</a></p>


<img src="{{ "/assets/me2.gif" | prepend:site.baseurl }}" width="190"/>
<h3>Samantha Gobért</h3> 
<p>Designer, aspiring yogi.<br/>Not an expert by any means, just a student eager to learn.<br/>
	<a href="https://twitter.com/intent/follow?screen_name=samchopx" class="btn btn-primary"><i class="fa fa-twitter"></i> &nbsp; Follow @samchopx</a></p>

<h3>Additional Resources</h3>
<ul>
  <li><a href="http://www.kundaliniresearchinstitute.org/" target="_blank">Kundalini Research Institute</a></li>
  <li><a href="https://www.reddit.com/r/kundalini/" target="_blank">/r/kundalini on Reddit</a></li>
  <li><a href="http://www.3ho.org/" target="_blank">The 3HO Foundation</a></li>
  <li><a href="http://www.libraryofteachings.com/" target="_blank">Yogi Bhajan Library of Teachings</a></li>
</ul>


