---
---

$container-large-desktop: 970px;

$font-family-base: "Karla", "Helvetica Neue", Arial, sans-serif;
$headings-font-family: "Karla", "Helvetica Neue", Arial, sans-serif;
$headings-font-weight: bold;

$font-size-base: 16px;
$font-size-h1: floor(($font-size-base * 2));
$font-size-h2: floor(($font-size-base * 1.4));
$font-size-h3: floor(($font-size-base * 1));
$font-size-h4: floor(($font-size-base * 1));
$font-size-h5: floor(($font-size-base * 1));
$font-size-h6: floor(($font-size-base * 1));
$blockquote-font-size: floor(($font-size-base * 1.25));
$line-height-base: 1.6;
$headings-line-height: 1.3;

$navbar-default-bg: #fff;
$navbar-default-border: #fff;
$navbar-default-brand-color: #333;
$navbar-height: 60px;
$navbar-inverse-link-color: #fff;
$navbar-inverse-toggle-border-color: #fff;
$navbar-inverse-color: rgba(#fff, 0.75);
$navbar-inverse-toggle-hover-bg: rgba(#fff, 0.2);

$gray-dark: #555;
$gray: #888;
$btn-default-color: #555;
$gray-light: #aaa;

$brand-primary: #e07280;
$code-color: #555;
$code-bg: #f5f5f5;
$headings-color: #A5C7FF;

// http://flatuicolors.com/
$dark: #3d566e;
$dark-brand-primary: #5b7fa4; // Set saturation to 50
$turquoise: #1abc9c;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;
$orange: #e67e22;
$red: #e74c3c;

{% unless site.data.theme.color == "default" %}
  $theme-color: ${{ site.data.theme.color }};
  $navbar-inverse-bg: $theme-color;
  @if $theme-color == $dark {
    $brand-primary: $dark-brand-primary;
  } @else {
    $brand-primary: $theme-color;
  }
{% endunless %}

@import "custom-bootstrap-variables";
@import "bootstrap-sass/bootstrap";

$space-xs: $line-height-computed * 1;
$space-sm: $line-height-computed * 1.5;
$space-md: $line-height-computed * 2;

a, a:hover, a:visited, a:active {
  transition: all 0.2s ease 0s!important;
}

.container a, .container a:visited  {
    color: cornflowerblue;
    text-decoration: none;
    background: aliceblue;
}

.container a:hover, .container a:active, .container a:focus {
    color: cornflowerblue;
    text-decoration: none;
    background: #D7EDFF;
}

a.btn-primary, a.btn-primary:visited {
  background: cornflowerblue;
  border: none;
  color: #fff;
  margin:15px 0;
}

a.btn-primary:hover, a.btn-primary:active, a.btn-primary:focus {
  background: #5682D2;
  color: #fff;
}

.navbar li > a.shop-btn {
  background: cornflowerblue;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 15px;
  &:hover, &:focus {
    background: #5682D2;
    color: white;
  }
}

h2 {
  margin-top: $line-height-computed * 1.5;
  margin-bottom: $line-height-computed * 0.25;
}
h3 {
  text-transform: uppercase;
  margin: 15px auto 5px;
}

.lead {
  @media (min-width: $screen-sm-min) {
    font-size: $blockquote-font-size;
  }
}

.btn {
  font-family: $headings-font-family;
}

.post-header {
  margin-bottom: $space-xs;
}
.post-title-home,
.post-title-main,
.post-title-link {
  color: #73819A;
  margin: 0;
  a, a:active {
    color: #73819A;
    background: none;
    text-decoration: none;
  }
  a:visited {
    color: #73819A;
  }
  a:hover, a:focus {
    text-decoration: none;
    color: cornflowerblue;
    background: aliceblue;
  }
}
.post-excerpt-home {
  margin-bottom: $space-md;
}
.post-title-main {
  margin: 0;
}
.post-title-archive {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  margin-right: 1em;
}
.post-content {
  margin-bottom: $space-md;
}
.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-responsive;
}
.post-footer {
  border-top: 1px solid $gray-lighter;
  padding-top: $space-sm;
  margin-bottom: $space-md;
}
.post-navs {
  margin-bottom: $space-md;
}
.post-nav {
  margin-bottom: $space-sm;
}
.post-title-link {
  margin-top: 0;
  margin-bottom:15px;
}

.navbar-brand {
  font-weight: $headings-font-weight;
  margin: 0!important;
  padding: 17.5px 0!important;
}

.navbar-brand > .title-image {
  display: inline-block;
  vertical-align:middle;
  margin-top: -4px;
}



.navbar {
  font-family: $headings-font-family;
  background: aliceblue;
}

.navbar-static-top {
  margin-bottom: $space-md;
}


.page-archive {
  margin-bottom: $space-md;
}

.footer {
  margin: $space-sm 0 $space-sm;
  font-size: $font-size-small;
  color: $gray-light;
}

.home-read-more {
  margin-bottom: 40px;
}

.gist {
  table {
    border: none !important;
    width: auto !important;
  }
  td {
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    &.line-data {
      border-right: none !important;
      line-height: 1.4 !important;
    }
  }
}

.container ul {
  color: #A5C7FF;
  padding-left: 20px;
}

.prana-wrap {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom:1em;
    img {
      position: relative;
      z-index:2;
      display: block;
    }
    &:after {
      content: "";
      display: block;
      opacity: 0.5;
      z-index: 1;
      position: absolute;
      top: 30px; bottom: 10px; left: 20px; right: 20px;
      background: transparent;
      border: 6px dashed #caddff;
      border-radius: 100%;
      -webkit-animation: rotating 20s linear infinite;
      -moz-animation: rotating 20s linear infinite;
      -ms-animation: rotating 20s linear infinite;
      -o-animation: rotating 20s linear infinite;
      animation: rotating 20s linear infinite;

    }
}

@media(max-width: $screen-xs-max) {
  .navbar-default .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-header {
    text-align: center;
  }
  .navbar-brand {
    display: inline-block;
    float: none;
  }
  .navbar-toggle-wrapper {
    position: absolute;
    left: $navbar-padding-horizontal;
    height: ($navbar-height + 34px) / 2;
  }
  .navbar li > a.shop-btn {
    margin-left: auto;
  }
}

@media(min-width: $screen-sm-min) {
.col-sm-4 {
  padding-left:2em;
}

}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



@import "custom-scss";
